body{
    margin: 0;
    background-color: black;
    color: white;
}

nav{
    display: flex; 
    justify-content: space-evenly;
}

#list-item{
    display: flex;
    list-style: none;
}

#list-item a{
    color: white;
    text-decoration: none;
}

#list-item li{
    padding: 0 10px;
}

.banner{
    text-align: center;
}