body{
    margin: 0;
    background: url('resturant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.lists{
    display: flex;
    justify-content: space-between;
    padding: 0 7rem;
}

.lists button{
    margin: 10px 0 0 0;
    font-size: 13px;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    height: 30px;
    width: 100px;
}

.lists ul{
    display: flex;
    justify-content: center;
}

.lists span{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
}
.lists span img{
    height: 20px;
    width: 20px;
    padding: 0 10px;
}
.lists li{
    padding: 0 10px;
    list-style: none;

}

.lists a{
    text-decoration: none;
    color:#fff;
    font-size: 12px;
}
.hero{
    text-align: center;
    margin: 10rem 0 0 0 ;
}

.hero h2{
    font-size: 50px;
    font-weight: 900;
    font-family: cursive;
}
.hero h1{
    font-size: 60px;
    font-weight: 900;
    margin: -35px 0 0 0;
}

.hero button{
    background-color: #fff;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 110px;
    color: rgb(241, 95, 95);
}