body {
    margin: 0;
    padding:0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 7rem;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar li{
    padding: 0 10px;
    font-weight: 600;
    font-size: 10px;
}

.banner{
    background: url('industry.jpg');
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 1rem 0 0 0;
    color: #fff;
}
.banner h1{
    font-size: 40px;
}

.banner h3{
    font-size: 10px;
    margin: 0 0 -25px 0;
}

.banner button{
    background-color: #FAB700;
    border: none;
    height: 50px;
    width: 170px;
    color: #fff;
    font-size: 16px;
}

.hero{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 0;
}
.hero span{
    padding: 0 20px;
    text-align: center;
}

.hero span{
    padding: 0 20px;
    text-align: center;

}

.hero span h3{
    padding: -5px 0 -10px 0;
}